<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{dd/MM/yy HH:mm:ss.SSS}] %boldCyan(%-16.-16thread) %boldGreen(%-15.-15logger{0}) %highlight(%-6level) %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="uk.org.lidalia.sysoutslf4j.context.SysOutOverSLF4J" level="OFF"/>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
